$font-sizes: (
  "link-font": 1.2rem,
  "link-small": 1rem,
  "small": 1.4rem,
  "lg-screen-heading": 3rem,
  "small-screen-heading": 2.1rem,
);

$background: #eeaf0f;
$header-background: #736ced;
$heading-text: #eeaf0f;
$para-text: #1d3461;
$font: Arial, Helvetica, sans-serif;

$small: 600px;
